<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div><a href="/tsowohang">Tso Wo Hang</a></div>
    <div><a href="/learningcenter">Learning Center</a></div>
    <div><a href="/akungkok">A Kung Kok</a></div>
    <h1>A Kung Kok:</h1>
    <table>
        <tr>
            <th>Route No</th>
            <th>Destination Name</th>
            <th>ETA</th>
        </tr>
        {{ range .AKungKok }}
            <tr>
                <td>{{.RouteNo}}</td>
                <td>{{.DestinationName}}</td>
                <td>{{.WaitTime}}</td>
            </tr>
        {{ end }}
    </table>
</body>
</html>
