<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <a href="/tsowohang">Tso Wo Hang</a>
    <a href="/learningcenter">Learning Center</a>
    <a href="/akungkok">A Kung Kok</a>
    <h1>A Kung Kok:</h1>
    <table>
        <tr>
            <th>Route No</th>
            <th>Destination Name</th>
            <th>ETA</th>
        </tr>
        {{ range .AKungKok }}
            <tr>
                <td>{{.RouteNo}}</td>
                <td>{{.DestinationName}}</td>
                <td>{{.WaitTime}}</td>
            </tr>
        {{ end }}
    </table>
</body>
</html>
