<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <a class="btn btn-dark" href="/tsowohang" role="button">Tso Wo Hang</a>
    <a class="btn btn-dark" href="/learningcenter" role="button">Learning Center</a>
    <a class="btn btn-dark" href="/akungkok" role="button">A Kung Kok</a>
    <a class="btn btn-dark" href="/gopark" role="button">Go Park</a>
    <a class="btn btn-dark" href="/wukaisha" role="button">Wu Kai Sha</a>
    <a class="btn btn-dark" href="/keilinghalowai" role="button">Kei Ling Ha Lo Wai</a>
    {{ range . }}
        <h1>{{.Name}}</h1>
        <table class="table table-sm table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Route No</th>
                    <th>Destination Name</th>
                    <th>ETA</th>
                </tr>
            </thead>
            {{ range .BusTime }}
                <tbody>
                    <tr>
                        <td>{{.RouteNo}}</td>
                        <td>{{.DestinationName}}</td>
                        <td>{{.WaitTime}}</td>
                    </tr>
                </tbody>
            {{ end }}
        </table>
    {{ end }}
</body>
</html>
