<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <h1>Sha Kok Mei:</h1>
    <table>
        <tr>
            <th>Route No</th>
            <th>Destination Name</th>
            <th>ETA</th>
        </tr>
        {{ range .ShaKokMei }}
            <tr>
                <td>{{.RouteNo}}</td>
                <td>{{.DestinationName}}</td>
                <td>{{.WaitTime}}</td>
            </tr>
        {{ end }}
    </table>
    <h1>Hong Kong Academy:</h1>
    <h3>(8 min walk)</h3>
    <table>
        <tr>
            <th>Route No</th>
            <th>Destination Name</th>
            <th>ETA</th>
        </tr>
        {{ range .HongKongAcademy }}
            <tr>
                <td>{{.RouteNo}}</td>
                <td>{{.DestinationName}}</td>
                <td>{{.WaitTime}}</td>
            </tr>
        {{ end }}
    </table>
</body>
</html>
