<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Test</h1>
    </div>
        <!-- <p>{{ . }}</p> -->
        <!-- <p><strong>Tso Wo Hang:</strong></p> -->
    <!-- {{ range . }} -->
        <!-- <dl>
            <dt>Route No:</dt>
            <dd>{{ .routeNo }}</dd>
            <dt>Destination Name</dt>
            <dd>{{ .destinationName }}</dd>
            <dt>ETA</dt>
            <dd>{{ .eta }}</dd>
            
        </dl> -->
<!-- {{ end }} -->
</body>
</html>
